*{
    margin: 0;
}

.information {
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 12px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
}
